*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(182, 142, 230), rgb(40, 40, 164));
}

